---
import Basic from "../layouts/Basic.astro";
---
<Basic title="About">
    <article>
        <h1 class="mainHeader">About DessieOwO</h1>
        <p>    DessieOwO is a living calculator dog girl and widely regarded as the most profound genius of the modern era<sup><em>[citation needed]</em></sup>. </p>
    </article>
</Basic>