---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<Head title = "Home"/>
	<body>
		<div class="notFooter">
		<Navbar />
		<main>
			<h1 class="mainHeader">DessieOwO</h1>
			<p class="mainSubheader">Home of <em>The Barp</em></p>
		</main>
		</div>
		<Footer />
	</body>
</html>
