---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props;
---

<html lang="en">
	<Head title = {title}/>
	<body>
        <noscript style="background-color: #FF7F7F;;color:black;">
            <h1>Your browser does not have javascript enabled!</h1>
            <p>Some features on this site may not work without javascript.</p>
        </noscript>
		<div class="notFooter">
		<Navbar />
		<main>
			<slot />
		</main>
		</div>
		<Footer />
	</body>
</html>